langchain
langchain-community
langchain-groq
PyMuPDF
python-docx
beautifulsoup4
faiss-cpu
gradio
pydantic
tenacity
python-dotenv

pytesseract
pdf2image
docx
langdetect
Pillow

sentence-transformers